<section class="blog" id="blog">
    
    <div class="row">
        
        
        <h2>A new entertainment for startuppers</h2>
        
        
        <img src="/public/posts/serious.png" style="width: 600px">
        
        <p>
          Entrepreneurship is fun. I agree that almost always it is tough, but it makes a lot of people happy. Can we add even more fun to this pursuit of happiness? I think CoprGlory can help you with that. How do we want to do this exactly? We want to build a place where you can play and learn the necessary skills to manage your finances well. We believe that the  Startuppers are at the cutting edge of the modern global and connected world. It gives opportunity to be who you are and live an exciting life, it is a new culture. We want something new.
        </p>
        <p>
          Our solution to the hard life that can arise from difficulties when dealing with financial management is playing. Yes, playing. Imagine you are Zukerberg and you just started your company online. To this world you can invite your friends and meet new people. Most importantly in this virtual world you have a safe space to tackle financial issues, collaborate and compete. We made it fun and inspiring because this is what the business actually is.
        </p>
        
        <p>
          Okay, what you also need to know is that  our solution is not all about gamification and eLearning. We don’t want to sugarcoat the truth. We want for you to play the real game with all of its complications that can arise. There can be a situation in which you can put yourself in deep, deep hole. That means that your startup failed with a bad debt and after that your company failed even better. This could be your personal ‘gg’: “game over.” Yet, what we offer is the button “start over” -- and that button is real. 
        </p>
        
        
    </div>
    
</section>
