<script type="text/javascript" 
        src="/public/packages/yandex-metrika/yandex-metrika.js"></script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/34591270" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
