<template name="company_card">
	<div class="row m-b-lg m-t-lg">
                <div class="col-md-4">
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    Telegram
                                </h2>
                                <h4>Messenger: Telegram</h4>
                                <small>Market share: {{ marketShare }}%</small>
                                <div class="progress progress-mini">
                                    <div style="width: {{ marketShare }}%;" class="progress-bar progress-bar-danger"></div>
                                </div>
                                <small>Morality: 48%</small>
								<div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-3">
                    <small>Balance</small>
                    <h2 class="no-margins">$ {{ companyBalance }}</h2>
                    <div id="balanceGraph" style="margin-top:20px;"></div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
</template>