<template name="customers">

    <!-- Page heading -->

 <!--    {{>company_card}} -->
    
    {{> pageHeading title='Customers' category='Customers' }}

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox">
            <!-- <div class="ibox-title">

            </div> -->
            <div class="ibox-content">

                <div class="tech-list">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Product</th>
                                <th>Loyalty</th>
                                <th>Liberal</th>
                                <th>Selfish</th>
                                <th>Threshold</th>
                                <th>Friends</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each customers}}
                                {{>customer}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>




<template name="customer">
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{product}}</td>
        <td>{{loyalty}}</td>
        <td>{{liberal}}</td>
        <td>{{selfish}}</td>
        <td>{{threshold}}</td>
        <td>{{friends}}</td>
    </tr>
</template>