
<section class="blog">
    
    <div class="row">
        <a href="/blog/post/first-research"> <h2>First research</h2> </a>
        <p>
            WE figured ouy something
        </p>
    </div>
    
</section>

</div>
