
<section class="blog" id="blog">
    
        
        <a href="/blog/a-new-entertainment-for-startuppers"> 
            <h2>A new entertainment for startuppers</h2>
            
            <img src="/public/posts/serious.png" style="width: 600px" class="img-responsive">
            
        </a>
        
        
        
        <p>
            Entrepreneurship is fun. I agree that almost always it is tough, but it makes a lot of people happy. Can we add even more fun to this pursuit of happiness? I think CoprGlory can help you with that. How do we want to do this exactly? We want to build a place where you can play and learn the necessary skills to manage your finances well. We believe that the  Startuppers are at the cutting edge of the modern global and connected world. It gives opportunity to be who you are and live an exciting life, it is a new culture. We want something new.
        </p>
        
        <a href="/blog/a-new-entertainment-for-startuppers" class="btn btn-lg btn-primary" style="background:#fd8a10; border:0">Read it</a>
        
    
</section>
