
<section class="blog" id="blog">
    
  <% for(var post in posts) { %>

    <%- post.preview %>

    <a href="<%= post.url %>" 
      class="btn btn-lg btn-primary" 
      style="background:#fd8a10; border:0">
      Read it
    </a>

  <% } %>   

</section>
