<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/public/packages/raphael/raphael-min.js"></script>
  
  <script src="/public/js/game/communication.js"></script>
  <script src="/public/js/game/marketShare.js"></script>
  <script src="/public/js/game/windowError.js"></script>
  <script src="/public/js/game/worldMap.js"></script>
  <script src="/public/js/game/worldMapData.js"></script>
  <script src="/public/js/game/playersList.js"></script>
  <script src="/public/js/game/gameScreen.js"></script>
  <script src="/public/js/game/app.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/public/packages/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/game.css">
  
  <script type="text/javascript">
    var USER_NAME = "<%= userName %>";
  </script>
  
</head>


<body>


<div id="playersListHolder" class="container">
  <div class="row">
    <h2 class="text-center">Players</h2>
      <div class="col-md-2 col-md-offset-5">
        <ul id="playersListHolderList">
        </ul>
      </div>
    </div>
    <div class="row">
    <div class="text-center">
      <button id="buttonPlay">Play!</button>
    </div>
  </div>
</div> 

<div id="gameScreenHolder">

  <div id="worldMapHolder"></div>

  <div id="marketShareHolder">
    <div id="balanceHolder">
        Balance: <strong id="balanceHolderValue"> 30 000$ </strong>
    </div>
    <hr/>
    <div id="marketShareHolderProgresses"></div>
  </div>
  
  <div id="windowError" class="window">
    <h2 class="windowTitle">Title</h2>
    <p class="windowDescription">
    </p>
  </div>
  
  <div id="logText"></div>    
</div>

</body>
</html>