<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <% if(language == 'ru') { %>
            CorpGlory. Startup vs economics: online game.
        <% } else { %>
            CorpGlory. Стартапы и экономика: online game.
        <% } %>
    </title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/one-page-wonder.css">

    <script type="text/javascript" src="/public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <div id="logoHolder"><div id="logo"></div></div>
            <h2>
                <% if(language == 'ru') { %>
                    Онлайн игра об экономике и стартапах
                <% } else { %>
                    Online game about economics and startups
                <% } %>
            </h2>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-responsive center-block" src="/public/img/cg-screen-mvp.png">
        <h2 class="featurette-heading">
            <% if(language == 'ru') { %>
                Научись крутым бизнез стратегиям в игре
            <% } else { %>
                Learn cool stuff economics and startups
            <% } %>
        </h2>
        <p class="lead">
            <% if(language == 'ru') { %>
                Придумывай стратегию захвата мирового рынка: хорошая доля пользователей в регионе принесет дивиденды, но
            конкуренты будут мешать. Поэтому нужно будет потратиться что бы захватить их пользователей.
            <% } else { %>
                Learn cool strategies to conquer the global market for your tech company. Rules are simple: invest into 
                region and get money from it but be aware of your competitors.
            <% } %>
        </p>
    </div>

    <hr class="featurette-divider">

    <!-- Footer -->
    <footer>
        <div class="row">
            <div id="socialButtons">
                <div id="socialButtonsHolder">
                    <a href="http://www.facebook.com/corpglorygame/" id="fb"></a>
                    <a href="https://vk.com/corpglory" id="vk"></a>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

</body>
</html>