<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CorpGlory - Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config">



<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <a href="#page-top" id="logoHolder"><img src="/public/img/logo.png"></a>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
    </div>
    
    <div style="color:white; position:absolute; right:10%; top:50px; width: 650px">
    
    <h2 class="featurette-heading text-center"> Следить за новостями </h2>
    <form method="POST" id="form" class="form-inline">
    <div class="form-group" style="margin-left: 160px">
        <input type="text" type="email" name="email" 
            placeholder="Email" class="form-control" 
            id="inputEmail" 
            style="color:black; height: 40px; margin-right: 10px" 
        />
        <a class="btn btn-lg btn-primary" href="#" role="button" onclick="$('#form').submit()">
            Подписаться
        </a>
    </div>
    
    </form>
    </div>
    <div>
    
</div>


<!-- <section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Full responsive</h2>
            <p></p>
        </div>
        <div class="col-sm-3">
            <h2>LESS/SASS Files</h2>
            <p></p>
        </div>
        <div class="col-sm-3">
            <h2>6 Charts Library</h2>
            <p></p>
        </div>
        <div class="col-sm-3">
            <h2>Advanced Forms</h2>
            <p></p>
        </div>
    </div>
</section> -->

<section id="features" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Создайте свою компанию<br/> <span class="navy"> и захватите мир</span> </h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-trophy features-icon"></i>
                <h2>Соревнуйтесь с другими игроками</h2>
                <p>Придумывайте стратегии, которые позволят обогнать конкурентов и занять наибольшую долю рынка.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-pie-chart features-icon"></i>
                <h2>Захватите рынок</h2>
                <p>Ваша главная цель - стать доминирующей компанией в выбранном сегменте.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="/public/img/World_UI.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-dollar features-icon"></i>
                <h2>Научитесь экономике</h2>
                <p>Изучайте экономические подходы, повышайте компетенции, разрабатывайте максимально эффективные бизнес процессы</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-group features-icon"></i>
                <h2>Познакомьтесь с крутыми чуваками</h2>
                <p>Взаимодействуйте с контрагентами, налаживайте связи с партнерами, постройте эффективную цепочку работы с потребителем.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Откройте для себя мир стартапов</h1>
            <p>Научитесь эффективно управлять технологиечским стартапом.</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>CORPGLORY</small>
            <h2>Найдите своего покупателя</h2>
            <p>Каждая компания начинает из определенного региона и на первых этапах развивает продукт на локальном рынке. Игрок сам принимает решение, откуда он хочет начать строить свой бизнес. Каждый регион имеет свои особенности и игровые сценарии, а поведение потребителей различается.</p>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/public/img/Countries_UI.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/public/img/Team_UI.png" alt="dashboard" class="img-responsive pull-right">
        </div>
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>CORPGLORY</small>
            <h2>Создайте уникальный продукт</h2>
            <p>Задача игрока собрать из доступных технологических блоков продукт, который был бы конкурентноспособным на выбранном рынке. По мере развития компании появляется возможность улучшать характеристики созданного продукта и добавлять новые для, например, продвижения на других рынках и странах.</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>CORPGLORY</small>
            <h2>Изучайте тренды</h2>
            <p>Большое количество материалов отчетности должны помочь при выработке решений по дальнейшему развитию на рынке. Метрики позволяют отслеживать как эффективность фирмы, так и реакцию пользователей на поведение компаний на рынке.</p>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/public/img/Segment_UI.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>



<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Контакты</h1>
                <p>Если Вы заинтересованы в проекте, то можете поучаствовать в его разработке.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Свяжитесь с нами</a>
                <p class="m-t-sm">
                    Следите за нами в социальных сетях
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="http://twitter.com/corpglory"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/corpglorygame/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="http://vk.com/corpglory"><i class="fa fa-vk"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 CorpGlory Inc. </strong><br/></p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script src="/public/js/jquery-2.1.1.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>

</html>
