<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CorpGlory. Стартапы и экономика: online game.</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>

<div id="landing">

<h1>Онлайн игра о стартапах и экономике</h1>

<div id="logoHolder">
    <div id="logo"></div>
</div>

<div id="socialButtons">
    <div id="socialButtonsHolder">
        <a href="http://www.facebook.com/corpglorygame/" id="fb"></a>
        <a href="https://vk.com/corpglory" id="vk"></a>
    </div>
</div>

</div>

</body>
</html>