
<div class="navy-line"></div>
<section>
    <h1 class="text-center" >
        Mission
    </h1>
    In the mid-1800s, “boilerplates” were steel plates used to make steam boilers for ships. Fifty years later, the newspaper industry adopted the word, and its connotation of sturdiness and reusability, to refer to “a unit of writing that can be used over and over without change. - See more at: http://blog.marketwired.com/2010/07/29/how-to-write-a-boilerplate/#sthash.IYnSwSiQ.dpuf
</section>


<section id="team" class="team" style="width: 80%; margin:auto">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Team</h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/av.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Alexey Velikiy</h2>
                <p>
                    <strong>CEO</strong> <br/><br/>
                    Startupper for entire life. Also hacker and gamer.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/ed.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Eduard Eduardov</h2>
                <p>
                    <strong>Core Developer</strong> <br/><br/>
                    Startupper for entire life. Also hacker and gamer.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top:50px">
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/az.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Anton Zubarev</h2>
                <p>
                    <strong>Economist / Developer</strong> <br/><br/>
                    Startupper for entire life. Also hacker and gamer.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/em.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Eugene Morozov</h2>
                <p>
                    <strong>Mathematician / Developer</strong> <br/><br/>
                    Left applyed mathematics department
                </p>
            </div>
        </div>
    </div>
</section>

<section class="text-center" id="team">
    <div class="navy-line"></div>
    <h1>
        Advisor
    </h1>
    <div class="row">
    <div class="col-md-6" style="margin:auto; float:none">
            <div class="col-md-5">
                <img src="/public/img/team/jane.png" width="100%" />
            </div>
            <div class="col-md-5">
                <h2>Jane Smorodnikova</h2>
                <p>
                    Founder of Coffeelab.vc <br/>
                    Founder of MailBurn.com
                </p>
            </div>
        </div>
        </div>
</section>

<section class="text-center">
    <div class="navy-line"></div>
    <h1>
        Materials
    </h1>
    <a href="/public/press-materials/CorpGloryLogoBig.png" >
        <img src="/public/img/logoBlack.png" style="width: 100px">
        <br/>
        Download HD logo
    </a> 
</section>
