
<div class="navy-line"></div>
<section  id="blog">
    <h1 class="text-center" >
        Mission
    </h1>
    <p>
    CorpGlory Inc. develops business simulation games. Our main goal is to create an economic game, which would allow the player to act as a head of the startup. Our product allows you to get knowledge of the processes of creation and development of startup, interaction with partners and customers. We are a young team consisting of developers and economists with experience and competence in the field of economic modeling, developing of web services and algorithms. Users of our product receive a unique experience in the field of e-learning, combining session game mechanics of strategy games and academic approach in resolving problem situations. During the game you may try to build a virtual tech company worldwide and deal with finances, investments, marketing and meet new people.
    </p>
</section>


<section id="team" class="team" style="width: 80%; margin:auto">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Team</h1>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/av.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Alexey Velikiy</h2>
                <p>
                    <strong>CEO</strong> <br/><br/>
                    Startupper for entire life. Also hacker and gamer.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/ed.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Eduard Eduardov</h2>
                <p>
                    <strong>Core Developer</strong> <br/><br/>
                    JetBrains, Luxoft, Electotechnical University. Can write in 20 languages. Easy.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top:50px">
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/az.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Anton Zubarev</h2>
                <p>
                    <strong>Economist / Developer</strong> <br/><br/>
                    Huge background in IT and economics in case of developing business models and process optimization.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/em.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Eugene Morozov</h2>
                <p>
                    <strong>Mathematician / Developer</strong> <br/><br/>
                    Left applyed mathematics department to join CorpGlory.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="text-center" id="team">
    <div class="navy-line"></div>
    <h1>
        Advisor
    </h1>
    <div class="row">
    <div class="col-md-6" style="margin:auto; float:none">
            <div class="col-md-5">
                <img src="/public/img/team/jane.png" width="100%" />
            </div>
            <div class="col-md-5">
                <h2>Jane Smorodnikova</h2>
                <p>
                    Founder of Coffeelab.vc <br/>
                    Founder of MailBurn.com
                </p>
            </div>
        </div>
        </div>
</section>

<section class="text-center">
    <div class="navy-line"></div>
    <h1>
        Materials
    </h1>
    <a href="/public/press-materials/CorpGloryLogoBig.png" >
        <img src="/public/img/logoBlack.png" style="width: 100px">
        <br/>
        Download HD logo
    </a> 
</section>
