<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CorpGlory - Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config">

<div class="row">
    <div>
        <h1 class="text-center" style="font-size:45px; color: black"> 
            <a href="/" >
                <img src="/public/img/logoBlack.png" style="width: 100px">
            </a>
            <span style="color:#1ab394"> / </span> Press
        </h1>
    </div>
</div>

<div class="container">
<div class="navy-line"></div>
<section>
    <h1 class="text-center" >
        Mission
    </h1>
    In the mid-1800s, “boilerplates” were steel plates used to make steam boilers for ships. Fifty years later, the newspaper industry adopted the word, and its connotation of sturdiness and reusability, to refer to “a unit of writing that can be used over and over without change. - See more at: http://blog.marketwired.com/2010/07/29/how-to-write-a-boilerplate/#sthash.IYnSwSiQ.dpuf
</section>


<section id="team" class="team" style="width: 80%; margin:auto">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Team</h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/av.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Alexey Velikiy</h2>
                <p>
                    <strong>CEO</strong> <br/><br/>
                    Startupper for entire life. Also hacker and gamer.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/ed.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Eduard Eduardov</h2>
                <p>
                    <strong>Core Developer</strong> <br/><br/>
                    Startupper for entire life. Also hacker and gamer.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top:50px">
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/az.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Anton Zubarev</h2>
                <p>
                    <strong>Economist / Developer</strong> <br/><br/>
                    Startupper for entire life. Also hacker and gamer.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/public/img/team/em.png" width="100%" />
            </div>
            <div class="col-md-6">
                <h2>Eugene Morozov</h2>
                <p>
                    <strong>Mathematician / Developer</strong> <br/><br/>
                    Left applyed mathematics department
                </p>
            </div>
        </div>
    </div>
</section>

<section class="text-center" id="team">
    <div class="navy-line"></div>
    <h1>
        Advisor
    </h1>
    <div class="row">
    <div class="col-md-6" style="margin:auto; float:none">
            <div class="col-md-5">
                <img src="/public/img/team/jane.png" width="100%" />
            </div>
            <div class="col-md-5">
                <h2>Jane Smorodnikova</h2>
                <p>
                    Founder of Coffeelab.vc <br/>
                    Founder of MailBurn.com
                </p>
            </div>
        </div>
        </div>
</section>

<section class="text-center">
    <div class="navy-line"></div>
    <h1>
        Materials
    </h1>
    <a href="/public/press-materials/CorpGloryLogoBig.png" >
        <img src="/public/img/logoBlack.png" style="width: 100px">
        <br/>
        Download HD logo
    </a> 
</section>

</div>


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                
                <ul class="list-inline social-icon">
                    <li><a href="http://twitter.com/corpglory"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/corpglorygame/"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 CorpGlory Inc. </strong><br/></p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script src="/public/js/jquery-2.1.1.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>

</html>
