<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CorpGlory - Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config">


<section id="features" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Create your own company<br/> <span class="navy"> and rule the world</span> </h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-trophy features-icon"></i>
                <h2>Compete with friends</h2>
                <p>Develop strategies, which help to eliminate competitors and get the biggest share of market</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-pie-chart features-icon"></i>
                <h2>Get the market</h2>
                <p>Main goal - become dominating company in the chosen segment</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="/public/img/World_UI.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-dollar features-icon"></i>
                <h2>Learn the economics</h2>
                <p>Use ecnomic theories, upgrade skills, imporve business processes</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-group features-icon"></i>
                <h2>Stay in touch with your partners</h2>
                <p>Deal with stakeholders, make connections with partners, build effective customer relationship chains.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Open your mind for the world of stratups</h1>
            <p>Learn how to manage effectively a technological company</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>CORPGLORY</small>
            <h2>Find your customer</h2>
            <p>Each company starts from a particular region and on the first stages develops the product for the local market. The player decides where he wants to start building of his business. Each region has its own characteristics and game scenarios, in case of different consumer behavior.</p>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/public/img/Countries_UI.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/public/img/Team_UI.png" alt="dashboard" class="img-responsive pull-right">
        </div>
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>CORPGLORY</small>
            <h2>Create unique product</h2>
            <p>The player's goal is to collect a product from the available technology blocks which would be competitive in the selected market. With futher growth the company has an opportunity to improve characteristics of the created product and add new ones, for example, for the promotion in other markets and countries.</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>CORPGLORY</small>
            <h2>Find out the trends</h2>
            <p>A large number of reports should assist in making decisions on the further dealing with the market. The metrics allow you to track the efficiency of the company and user response to the behavior of companies in the market.</p>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/public/img/Segment_UI.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>


<section id="team" class="team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Team</h1>
                <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="http://placehold.it/128x128" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Anton</span> Zubarev</h4>
                    <p>Economic models, front-developer</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-vk"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="http://placehold.it/128x128" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">Alexey</span> Velikii</h4>
                    <p>Founder, full-stack developer</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-vk"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="http://placehold.it/128x128" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Eduard</span> </h4>
                    <p>Back-developer</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-vk"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Contact us</a>
                <p class="m-t-sm">
                    Follow us in social media
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="http://twitter.com/corpglory"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/corpglorygame/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="http://vk.com/corpglory"><i class="fa fa-vk"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 CorpGlory Inc. </strong><br/></p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script src="/public/js/jquery-2.1.1.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>

</html>
