<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CorpGlory. Стартапы и экономика: online game.</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script type="text/javascript" src="/public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
<div class="jumbotron">
<h1>Я спамил? Прости. </h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2>Ок, настройки изменены</h2>
</div>
</div>

</div>
</div>

</body>
</html>