<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CorpGlory. Стартапы и экономика: online game.</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Я спамил? Прости. </h1>
<h2>Изменить настрокий подписки</h2>
<form method="POST">
  <ul>
    <li> 
      <input type="radio" name="subType" value="all">
      Получать все новости разработки 
    </li>
    <li> 
      <input type="radio" name="subType" value="release">
      Прислать письмо только когда будет что-то готовое 
    </li>
    <li>
      <input type="radio" name="subType" value="bye">
      Отписаться от всех рассылок
    </li>
  </ul>
  Твоя почта: <input type="text" />
  <input type="submit" value="Изменить">
</form>

</body>
</html>