body, html { 
    cursor: default;
}

#logo {
    background-image: url("/public/img/logo.png");
    background-size:contain;
    background-position: center;    
    background-repeat: no-repeat;
}
#socialButtons {
    height: 55px;
    margin: auto;
    bottom: 5%;
    width: 100%;
}
#socialButtons a {
    display: block;
    float: left;
    width: 55px;
    height: 55px;
    background: url("/public/img/socialIcons.gif");
    margin: auto;
}
#socialButtons #vk {
    background-position: -210px 0px;
}
#socialButtons #youTube {
    background-position: -72px 0px;
}
#socialButtons #twitter {
    background-position: -0px 83px;
}
#socialButtonsHolder {
    width: 110px;
    margin: auto;
    height: 55px;
}

#form ul {
    list-style-type: none;
}

label {
    font-weight: normal !important;
}