<template name="product_creator_form">

<div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h2>
                                Product starter form
                            </h2>

                            <form id="product_creator_form" action="#">
                                <h1>Product</h1>
                                <fieldset>
                                    <legend>Product Information</legend>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>Product name *</label>
                                                <input id="product_name" name="product_name" type="text" class="form-control required" aria-required="true" placeholder="Product name">
                                            </div>
                                            <div class="form-group">
                                                <label>Org structure *</label>
                                                <select class="form-control" name="org_structure" id="org_structure" aria-required="true">
                                                    <option value="Ltd.">Ltd.</option>
                                                    <option value="GMBH">GMBH</option>
                                                    <option value="Inc.">Inc.</option>
                                                    <option value="AG">AG</option>
                                                </select>
                                                <!-- <input id="org_structure" name="org_structure" type="text" class="form-control required" aria-required="true"> -->
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="text-center">
                                                <div style="margin-top: 20px">
                                                    <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                <h1>Characteristics</h1>
                                <fieldset>
                                    <legend>Characteristics Information</legend>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Sphere *</label>
                                                <select class="form-control" name="sphere" id="sphere" aria-required="true">
                                                    {{#each spheres}}
                                                         <option value="{{sphere_name}}">{{sphere_name}}</option>
                                                    {{/each}}
                                                </select>
                                                <!-- <input id="sphere" name="sphere" type="text" class="form-control required" aria-required="true"> -->
                                            </div>
                                            <div class="form-group">
                                                <label>Segment *</label>
                                                <select class="form-control" name="segment" id="segment" aria-required="true">
                                                    {{#each segments}}
                                                         <option value="{{segment_name}}">{{segment_name}}</option>
                                                    {{/each}}
                                                </select>
                                                <!-- <input id="segment" name="segment" type="text" class="form-control required" aria-required="true"> -->
                                            </div>
                                            <div class="form-group">
                                                <label>Country *</label>
                                                <select class="form-control" name="country" id="country" aria-required="true">
                                                    {{#each countries}}
                                                         <option value="{{country_name}}">{{country_name}}</option>
                                                    {{/each}}
                                                </select>
                                                <!-- <input id="country" name="country" type="text" class="form-control required" aria-required="true"> -->
                                            </div>
                                            <!-- <div class="form-group">
                                                <label>City *</label>
                                                <select class="form-control" name="city" id="city" aria-required="true">
                                                    <option value="Saint-Petersburg">Saint-Petersburg</option>
                                                    <option value="Moscow">Moscow</option>
                                                    <option value="Sochi">Sochi</option>
                                                    <option value="Tomsk">Tomsk</option>
                                                    <option value="Novosibirsk">Novosibirsk</option>
                                                    <option value="Ekaterinburg">Ekaterinburg</option>
                                                    <option value="Kazan">Kazan</option>
                                                </select>
                                                <input id="address" name="address" type="text" class="form-control required" aria-required="true">
                                            </div> -->
                                        </div>
                                    </div>
                                </fieldset>

                                <h1>Warning</h1>
                                <fieldset>
                                    <div class="text-center" style="margin-top: 120px">
                                        <legend>You did it Man :-)</legend>
                                    </div>
                                </fieldset>

                                <h1>Finish</h1>
                                <fieldset>
                                    <legend>Terms and Conditions</legend>
                                    <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required" aria-required="true"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    </div>

                </div>

















<!-- 




<div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                <form id="example-advanced-form" action="#">
    <h3>Account</h3>
    <fieldset>
        <legend>Account Information</legend>
 
        <label for="userName-2">User name *</label>
        <input id="userName-2" name="userName" type="text" class="required">
        <label for="password-2">Password *</label>
        <input id="password-2" name="password" type="text" class="required">
        <label for="confirm-2">Confirm Password *</label>
        <input id="confirm-2" name="confirm" type="text" class="required">
        <p>(*) Mandatory</p>
    </fieldset>
 
    <h3>Profile</h3>
    <fieldset>
        <legend>Profile Information</legend>
 
        <label for="name-2">First name *</label>
        <input id="name-2" name="name" type="text" class="required">
        <label for="surname-2">Last name *</label>
        <input id="surname-2" name="surname" type="text" class="required">
        <label for="email-2">Email *</label>
        <input id="email-2" name="email" type="text" class="required email">
        <label for="address-2">Address</label>
        <input id="address-2" name="address" type="text">
        <label for="age-2">Age (The warning step will show up if age is less than 18) *</label>
        <input id="age-2" name="age" type="text" class="required number">
        <p>(*) Mandatory</p>
    </fieldset>
 
    <h3>Warning</h3>
    <fieldset>
        <legend>You are to young</legend>
 
        <p>Please go away ;-)</p>
    </fieldset>
 
    <h3>Finish</h3>
    <fieldset>
        <legend>Terms and Conditions</legend>
 
        <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
    </fieldset>
</form>
</div>
</div>
</div>
</div> -->


</template>