<template name="startup">
    <div class="wrapper wrapper-content animated fadeInUp" style="padding-bottom:0px; padding-top:10px;">
	   <div class="row">
                <div class="col-lg-12">
                	<div class="ibox">
                	<div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-pills startup nav-justified">
                            <li class="active" style="border-left:none;"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Company</a></li>
                            <li class="" style="border-left:none;"><a data-toggle="tab" href="#tab-2" aria-expanded="false">Team</a></li>
                            <li class="" style="border-left:none;"><a data-toggle="tab" href="#tab-3" aria-expanded="false">Product</a></li>
                            <li class="" style="border-left:none;"><a data-toggle="tab" href="#tab-4" aria-expanded="false">Marketing</a></li>
                        </ul>
                    </div>
                    </div>
                    </div>
                    <!-- <div class="ibox">
                    <div class="ibox-content"> -->
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="padding: 0px;">
                                    {{>game_company}}
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body" style="padding: 0px;">
                                    {{>game_team}}
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body" style="padding: 0px;">
                                    {{>game_product}}
                                </div>
                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body" style="padding: 0px;">
                                    {{>game_marketing}}
                                </div>
                            </div>
                        </div>


                    </div>
                   <!--  </div>
                    </div> -->
            </div>
	
   
    </div>
</template>





<template name="game_company">
  <!-- <div class="wrapper wrapper-content animated fadeInUp"> -->
    <div class="row">
            <div class="col-lg-9">
                    <div class="ibox">
                        <div class="ibox-content" style="padding-bottom:5px;">
                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Comments</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                   Create project in webapp
                                                </td>
                                                <td>
                                                   12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                <p class="small">
                                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    Various versions
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    There are many variations
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    Latin words
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Latin words, combined with a handful of model sentence structures
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    The generated Lorem
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    The first line
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    The standard chunk
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Lorem Ipsum is that
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                    </p>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-lg-3">
                    <!-- <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <img src="House_Stark.png" class="img-responsive">
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                                <h1 style="text-align: center;"><strong>Telegramm</strong></h1>
                                <h4 style="text-align: center;">Inc.</h4>
                                <!-- <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                </p> -->
                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <h5><strong>169</strong> Projects</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>28</strong> Products</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>240</strong> Partners</h5>
                                    </div>
                                </div>
                                <!-- <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                    <table class="table" style="margin-top:20px;">
                      <tbody>
                        <tr>
                          <td><strong>Coat of arms</strong></td>
                          <td>
                            A running grey direwolf, on an ice-white field
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Words</strong></td>
                          <td>
                            Winter is Coming
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Seat</strong></td>
                          <td>
                            Winterfell
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Current Lord</strong></td>
                          <td>
                            unknown
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Region</strong></td>
                          <td>
                            The North
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Title</strong></td>
                          <td>
                            King in the North<br>
                            Lord of Winterfell<br>
                            Warden of the North<br>
                            King of the Trident<br>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Overlord</strong></td>
                          <td>
                            House Baratheon of King's Landing
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Cadet Branch</strong></td>
                          <td>
                            House Greystark<br>
                            House Karstark
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div class="text-center m-t-md">
                        <a href="#" class="btn btn-xs btn-primary">Add contact</a>
                        <a href="#" class="btn btn-xs btn-primary">Report contact</a>
                    </div> -->
                    </div>
                    </div>
            </div>
        </div>
    <!-- </div> -->
</template>




<template name="game_team">
        <!--<div class="wrapper wrapper-content animated fadeInUp"> -->
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                    <div class="col-md-7">

                    <div class="team-list">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="project-title">#</th>
                                    <th class="project-title">Department</th>
                                    <th class="project-title">Number of employees</th>
                                    <th class="project-title">Level</th>
                                    <th class="project-title">Cost</th>
                                    <th class="project-actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <td class="project-status">
                                        <span class="label label-primary">Active</span>
                                    </td> -->
                                    <td class="project-title">
                                        1.
                                    </td>
                                    <td class="project-title">
                                        Technological department
                                    </td>
                                    <td class="project-title">
                                        <!-- <div class="row">
                                            <div class="col-md-2">
                                                <a href="#" id="tech_level_minus" class="btn btn-white btn-xs {{tech_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-center">2</p>
                                            </div>
                                            <div class="col-md-2">
                                                a href="#" id="tech_level_plus" class="btn btn-white btn-xs {{tech_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                            </div>
                                        </div> -->
                                        4
                                    </td>
                                    <td class="project-title">
                                        1
                                    </td>
                                    <td class="project-title">
                                        $200
                                    </td>
                                    <td class="project-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-4">
                                                <a href="#" id="tech_team_level_minus" class="btn btn-white btn-xs {{tech_team_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="text-center">Level {{tech_team_level_number}} / ({{max_tech_team_level_number}})</p>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#" id="tech_team_level_plus" class="btn btn-white btn-xs {{tech_team_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td class="project-status">
                                        <span class="label label-primary">Active</span>
                                    </td> -->
                                    <td class="project-title">
                                        2.
                                    </td>
                                    <td class="project-title">
                                        Marketing department
                                    </td>
                                    <td class="project-title">
                                        <!-- <div class="row">
                                            <div class="col-md-2">
                                                <a href="#" id="tech_level_minus" class="btn btn-white btn-xs {{tech_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-center">2</p>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#" id="tech_level_plus" class="btn btn-white btn-xs {{tech_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                            </div>
                                        </div> -->
                                        1
                                    </td>
                                    <td class="project-title">
                                        1
                                    </td>
                                    <td class="project-title">
                                        $200
                                    </td>
                                    <td class="project-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-4">
                                                <a href="#" id="market_team_level_minus" class="btn btn-white btn-xs {{market_team_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="text-center">Level {{market_team_level_number}} / ({{max_market_team_level_number}})</p>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#" id="market_team_level_plus" class="btn btn-white btn-xs {{market_team_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td class="project-status">
                                        <span class="label label-primary">Active</span>
                                    </td> -->
                                    <td class="project-title">
                                        3.
                                    </td>
                                    <td class="project-title">
                                        Design department
                                    </td>
                                    <td class="project-title">
                                        <!-- <div class="row">
                                            <div class="col-md-2">
                                                <a href="#" id="tech_level_minus" class="btn btn-white btn-xs {{tech_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-center">2</p>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#" id="tech_level_plus" class="btn btn-white btn-xs {{tech_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                            </div>
                                        </div> -->
                                        2
                                    </td>
                                    <td class="project-title">
                                        1
                                    </td>
                                    <td class="project-title">
                                        $200
                                    </td>
                                    <td class="project-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-4">
                                                <a href="#" id="design_team_level_minus" class="btn btn-white btn-xs {{design_team_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                            </div>
                                                <div class="col-md-4">
                                                    <p class="text-center">
                                                        Level {{design_team_level_number}} / ({{max_design_team_level_number}})
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" id="design_team_level_plus" class="btn btn-white btn-xs {{design_team_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>


                        <div class="col-md-3 col-md-offset-1">
                            <h4><strong>Technological department</strong></h4>
                            <p style="text-align: left; margin-top: 20px;">
                                Lorem ipsum eget urna mollis ornare vel eu leo. Cum sociisnatoque penatibus et magnis dis parturient montes, code nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed euismod aliquet sapien consequat tincidunt.

                                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Sed euismod aliquet sapien consequat tincidunt.
                            </p>
                        </div>

                        </div>
                    </div>
                </div>
        <!-- </div> -->
</template>




<template name="game_product">
    <!-- <div class="wrapper wrapper-content animated fadeInUp"> -->
        <div class="ibox">
            <!-- <div class="ibox-title">

            </div> -->
            <div class="ibox-content">

                <div class="row">
                <div class="col-md-7">

                <div class="tech-list">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Feature</th>
                                <th>Level progress</th>
                                <th>Level</th>
                                <th class="project-actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <td class="project-status">
                                    <span class="label label-primary">Active</span>
                                </td> -->
                                <td class="project-title">
                                    1.
                                </td>
                                <td class="project-title">
                                    Tech
                                </td>
                                <td class="project-completion">
                                    <small>Completion with: 48%</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </td>
                                <td class="project-title">
                                    1
                                </td>
                                <td class="project-actions">
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-4">
                                            <a href="#" id="tech_level_minus" class="btn btn-white btn-xs {{tech_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-center">Level {{tech_level_number}} / ({{max_tech_level_number}})</p>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" id="tech_level_plus" class="btn btn-white btn-xs {{tech_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <!-- <td class="project-status">
                                    <span class="label label-primary">Active</span>
                                </td> -->
                                <td class="project-title">
                                    2.
                                </td>
                                <td class="project-title">
                                    Design
                                </td>
                                <td class="project-completion">
                                    <small>Completion with: 20%</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 20%;" class="progress-bar"></div>
                                    </div>
                                </td>
                                <td class="project-title">
                                    1
                                </td>
                                <td class="project-actions">
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-4">
                                            <a href="#" id="design_level_minus" class="btn btn-white btn-xs {{design_level_minus_enabled}}"><i class="fa fa-lg fa-minus"></i></a>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-center">Level {{design_level_number}} / ({{max_design_level_number}})</p>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" id="design_level_plus" class="btn btn-white btn-xs {{design_level_plus_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>

                <div class="col-md-3 col-md-offset-1">
                            <h4><strong>Tech</strong></h4>
                            <p style="text-align: left; margin-top: 20px;">
                                Lorem ipsum eget urna mollis ornare vel eu leo. Cum sociisnatoque penatibus et magnis dis parturient montes, code nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed euismod aliquet sapien consequat tincidunt.

                                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Sed euismod aliquet sapien consequat tincidunt.
                            </p>
                </div>
                </div>

            </div>
        </div>
   <!--  </div> -->
</template>




<template name="game_marketing">
  <!--   <div class="wrapper wrapper-content animated fadeInUp"> -->
        <div class="ibox">
            <!-- <div class="ibox-title">

            </div> -->
            <div class="ibox-content">

                <div class="row">
                <div class="col-md-7">

                <div class="tech-list">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Сhannels</th>
                                <th>Capacity</th>
                                <th>Cost</th>
                                <th class="project-actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <td class="project-status">
                                    <span class="label label-primary">Active</span>
                                </td> -->
                                <td class="project-title">
                                    1.
                                </td>
                                <td class="project-title">
                                    Social
                                </td>
                                <td class="project-completion">
                                    50.000
                                </td>
                                <td class="project-title">
                                    $1500
                                </td>
                                <td class="project-actions">
                                    <button class="btn btn-primary" id="social_market">Buy</button> 
                                </td>
                            </tr>
                            <tr>
                                <!-- <td class="project-status">
                                    <span class="label label-primary">Active</span>
                                </td> -->
                                <td class="project-title">
                                    2.
                                </td>
                                <td class="project-title">
                                    Conferences
                                </td>
                                <td class="project-completion">
                                    3.000
                                </td>
                                <td class="project-title">
                                   $300
                                </td>
                                <td class="project-actions">
                                    <button class="btn btn-primary" id="conference_market">Buy</button> 
                                </td>
                            </tr>
                            <tr>
                                <!-- <td class="project-status">
                                    <span class="label label-primary">Active</span>
                                </td> -->
                                <td class="project-title">
                                    2.
                                </td>
                                <td class="project-title">
                                    Articles
                                </td>
                                <td class="project-completion">
                                    15.000
                                </td>
                                <td class="project-title">
                                    $700
                                </td>
                                <td class="project-actions">
                                    <button class="btn btn-primary" id="article_market">Buy</button>    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>

                <div class="col-md-3 col-md-offset-1">
                            <h4><strong>Social</strong></h4>
                            <p style="text-align: left; margin-top: 20px;">
                                Lorem ipsum eget urna mollis ornare vel eu leo. Cum sociisnatoque penatibus et magnis dis parturient montes, code nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed euismod aliquet sapien consequat tincidunt.

                                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Sed euismod aliquet sapien consequat tincidunt.
                            </p>
                </div>
                </div>

            </div>
        </div>
    <!-- </div> -->
</template>