<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CorpGlory - Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config">

<div class="row">
    <div>
        <h1 class="text-center" style="font-size:45px; color: black"> 
            <a href="/" >
                <img src="/public/img/logoBlack.png" style="width: 100px">
            </a>
            <span style="color:#1ab394"> / </span> <%= title %>
        </h1>
    </div>
</div>

<div class="container">

<%-body%>

</div>


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                
                <ul class="list-inline social-icon">
                    <li>
                        <a href="http://twitter.com/corpglory">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/corpglorygame/">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 CorpGlory Inc. </strong><br/></p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script src="/public/js/jquery-2.1.1.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/packages/google-analytics/google-analytics.js"></script>

</body>

</html>
