<template name="gameScreen">
    <div class="row m-t-lg" id="world_map" style="margin-top:0px;">
        <div class="col-lg-12">
            <div id="holder_1000" style="position:relative; width:90%; height:90%">
                <div id="Afghanistan" class="city_hover"><span class="c_label"><strong><strong>Afghanistan: 20</strong></strong><br/>2 other</span>
                </div>
                <div id="Azerbaijan" class="city_hover"><span class="c_label"><strong>Azerbaijan: 2</strong><br/></span>
                </div>
                <div id="Bolivia" class="city_hover"><span class="c_label"><strong>Bolivia:
                    1</strong><br/>1 other</span></div>
                <div id="Brazil" class="city_hover"><span class="c_label"><strong>Brazil: 3</strong><br/></span></div>
                <div id="Cameroon" class="city_hover"><span class="c_label"><strong>Cameroon: 1</strong><br/></span>
                </div>
                <div id="Colombia" class="city_hover"><span class="c_label"><strong>Colombia: 1</strong><br/></span>
                </div>
                <div id="DRC" class="city_hover"><span class="c_label"><strong>Democratic Republic of Congo:
                    2</strong><br/>1 other</span></div>
                <div id="DR" class="city_hover"><span class="c_label"><strong>Dominican Republic: 1</strong><br/>1 other</span>
                </div>
                <div id="Ecuador" class="city_hover"><span class="c_label"><strong>Ecuador: 1</strong><br/></span></div>
                <div id="Georgia" class="city_hover"><span class="c_label"><strong>Georgia: 1</strong><br/></span></div>
                <div id="Guatemala" class="city_hover"><span class="c_label"><strong>Guatemala: 1</strong><br/></span>
                </div>
                <div id="Indonesia" class="city_hover"><span class="c_label"><strong>Indonesia:
                    3</strong><br/>3 other</span></div>
                <div id="Iraq" class="city_hover">
                    <span class="c_label">
                        <strong>Iraq: 25</strong><br/>18 other
                    </span>
                </div>
                <div id="Ivory_Coast" class="city_hover"><span class="c_label"><strong>Ivory Coast: 1</strong><br/>1 other</span>
                </div>
                <div id="Kazakhstan" class="city_hover"><span class="c_label"><strong>Kazakhstan: 1</strong><br/></span>
                </div>
                <div id="Kenya" class="city_hover"><span class="c_label"><strong>Kenya: 1</strong><br/>1 other</span>
                </div>
                <div id="Kyrgyzstan" class="city_hover"><span class="c_label"><strong>Kyrgyzstan: 1</strong><br/></span>
                </div>
                <div id="Libya" class="city_hover"><span class="c_label"><strong>Libya: 7</strong><br/></span></div>
                <div id="Mexico" class="city_hover"><span class="c_label"><strong>Mexico:
                    24</strong><br/>14 other</span></div>
                <div id="Nepal" class="city_hover"><span class="c_label"><strong>Nepal: 4</strong><br/>3 other</span>
                </div>
                <div id="Nigeria" class="city_hover"><span class="c_label"><strong>Nigeria: 3</strong><br/></span></div>
                <div id="Pakistan" class="city_hover"><span class="c_label"><strong>Pakistan:
                    17</strong><br/>6 other</span></div>
                <div id="Philippines" class="city_hover"><span class="c_label"><strong>Philippines: 35</strong><br/>32 other</span>
                </div>
                <div id="Russia" class="city_hover"><span class="c_label"><strong>Russia: 5</strong><br/>1 other</span>
                </div>
                <div id="Moscow" class="city_hover"><span class="c_label"><strong>Moscow: 40</strong><br/>1 other</span>
                </div>
                <div id="Somalia" class="city_hover"><span class="c_label"><strong>Somalia:
                    11</strong><br/>1 other</span></div>
                <div id="Sri_Lanka" class="city_hover"><span class="c_label"><strong>Sri Lanka: 6</strong><br/></span>
                </div>
                <div id="Syria" class="city_hover"><span class="c_label"><strong>Syria: 1</strong><br/></span></div>
                <div id="Tunisia" class="city_hover"><span class="c_label"><strong>Tunisia: 1</strong><br/></span></div>
                <div id="Turkmenistan" class="city_hover"><span class="c_label"><strong>Turkmenistan:
                    1</strong><br/></span></div>
                <div id="Uganda" class="city_hover"><span class="c_label"><strong>Uganda: 1</strong><br/></span></div>
                <div id="Venezuela" class="city_hover"><span class="c_label"><strong>Venezuela:
                    1</strong><br/>1 other</span></div>
                <div id="Yemen" class="city_hover"><span class="c_label"><strong>Yemen: 5</strong><br/></span></div>
                <div id="Zimbabwe" class="city_hover"><span class="c_label"><strong>Zimbabwe:
                    2</strong><br/>1 other</span></div>


            </div>
        </div>
    </div>


</template>


<template name="stat_row">
    <div class="wrapper wrapper-content" style="padding-bottom:0px; padding-top:10px;">

        <div class="row">


            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="profile-info" style="margin-bottom:10px;">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="no-margins">
                                        Telegram
                                    </h3>
                                </div>
                                <div class="col-md-5">
                                    <small>Balance</small>
                                    <h2 class="no-margins">$ 10245</h2>
                                    <!-- {{> sparkline type="line" array=someArray1 options=options1}} -->
                                </div>
                            </div>
                            <div class="profile-info" style="margin-bottom:20px; margin-top:30px;">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h4>
                                            Sphere: <strong>IT</strong>
                                        </h4>
                                        <h4>
                                            Segment: <strong>Messengers</strong>
                                        </h4>
                                    </div>
                                    <div class="col-md-5">
                                        <small>Time period</small>
                                        <h2 class="no-margins">250</h2>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>


            <div class="col-lg-6">
                <h5 class="text-center">Overall progress</h5>

                <div class="progress progress-striped">
                    <div style="width: 30%" class="progress-bar progress-bar-success">
                        <span>30% Paid</span>
                    </div>
                    <div style="width: 20%" class="progress-bar progress-bar-warning">
                        <span>20% Users</span>
                    </div>
                    <div style="width: 50%" class="progress-bar progress-bar-danger">
                        <span>50% People</span>
                    </div>
                </div>


            </div>


            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Market shares</h3>
                        <h5>Telegramm</h5>

                        <div class="progress progress-mini">
                            <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35"
                                 role="progressbar" class="progress-bar progress-bar-success">
                                <span class="sr-only">30% Complete (success)</span>
                            </div>
                        </div>

                        <h5>Product #1</h5>

                        <div class="progress progress-mini">
                            <div style="width: 43%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43"
                                 role="progressbar" class="progress-bar">
                                <span class="sr-only">43% Complete (success)</span>
                            </div>
                        </div>

                        <h5>Product #2</h5>

                        <div class="progress progress-mini">
                            <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                                 role="progressbar" class="progress-bar progress-bar-warning">
                                <span class="sr-only">50% Complete (success)</span>
                            </div>
                        </div>

                        <h5>Product #3</h5>

                        <div class="progress progress-mini">
                            <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                                 role="progressbar" class="progress-bar progress-bar-danger">
                                <span class="sr-only">75% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>