<template name="gameScreen">
    <div class="row m-t-lg" id="world_map" style="margin-top:0px;">

        <div id="holder_1000" style="position:relative; width:90%; height:90%">
        </div>
        
    </div>


</template>


<template name="stat_row">
    <div class="wrapper wrapper-content" style="padding-bottom:0px; padding-top:10px;">

        <div class="row">


            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="profile-info" style="margin-bottom:10px;">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="no-margins">
                                        Telegram
                                    </h3>
                                </div>
                                <div class="col-md-5">
                                    <small>Balance</small>
                                    <h2 class="no-margins">$ 10245</h2>
                                    <!-- {{> sparkline type="line" array=someArray1 options=options1}} -->
                                </div>
                            </div>
                            <div class="profile-info" style="margin-bottom:20px; margin-top:30px;">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h4>
                                            Sphere: <strong>IT</strong>
                                        </h4>
                                        <h4>
                                            Segment: <strong>Messengers</strong>
                                        </h4>
                                    </div>
                                    <div class="col-md-5">
                                        <small>Time period</small>
                                        <h2 class="no-margins">250</h2>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>


            <div class="col-lg-6">
                <h5 class="text-center">Overall progress</h5>

                <div class="progress progress-striped">
                    <div style="width: 30%" class="progress-bar progress-bar-success">
                        <span>30% Paid</span>
                    </div>
                    <div style="width: 20%" class="progress-bar progress-bar-warning">
                        <span>20% Users</span>
                    </div>
                    <div style="width: 50%" class="progress-bar progress-bar-danger">
                        <span>50% People</span>
                    </div>
                </div>


            </div>

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Market shares</h3>
                        <h5>Telegramm</h5>

                        <div class="progress progress-mini">
                            <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35"
                                 role="progressbar" class="progress-bar progress-bar-success">
                                <span class="sr-only">30% Complete (success)</span>
                            </div>
                        </div>

                        <h5>Product #1</h5>

                        <div class="progress progress-mini">
                            <div style="width: 43%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43"
                                 role="progressbar" class="progress-bar">
                                <span class="sr-only">43% Complete (success)</span>
                            </div>
                        </div>

                        <h5>Product #2</h5>

                        <div class="progress progress-mini">
                            <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                                 role="progressbar" class="progress-bar progress-bar-warning">
                                <span class="sr-only">50% Complete (success)</span>
                            </div>
                        </div>

                        <h5>Product #3</h5>

                        <div class="progress progress-mini">
                            <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                                 role="progressbar" class="progress-bar progress-bar-danger">
                                <span class="sr-only">75% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>