<template name="company_card">
    {{#if has_company}}
	<div class="row m-b-lg m-t-lg">
                <div class="col-md-4">
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    Telegram
                                </h2>
                                <h4>Messenger: Telegram</h4>
                                <small>Market share: 50%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 50%;" class="progress-bar progress-bar-danger"></div>
                                </div>
                                <small>Morality: 48%</small>
								<div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <table class="table small m-b-xs">
                        <tbody>
                        <tr>
                            <td>
                                <strong>142</strong> Projects
                            </td>
                            <td>
                                <strong>22</strong> Followers
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>61</strong> Comments
                            </td>
                            <td>
                                <strong>54</strong> Articles
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>154</strong> Tags
                            </td>
                            <td>
                                <strong>32</strong> Friends
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <small>Balance</small>
                    <h2 class="no-margins">$ 10245</h2>
                    <div id="balanceGraph" style="margin-top:20px;"></div>
                </div>
                <div class="col-md-3">
                    <small>Balance</small>
                    <h2 class="no-margins">$ 10245</h2>
                    <div id="balanceGraph" style="margin-top:20px;"></div>
                </div>
                <div class="col-md-3">
                    <button type="button" id="game_over_button" class="btn btn-danger hidden" data-toggle="modal" data-target="#game_over">
                        Game Over
                    </button>
                    <button type="button" id="win_button" class="btn btn-primary hidden" data-toggle="modal" data-target="#win">
                        Win
                    </button>
                </div>
            </div>


            <div class="modal inmodal" id="game_over" tabindex="-1" role="dialog" aria-hidden="true" style="display: {{game_over}};">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-header">
                                            <i class="fa fa-warning modal-icon"></i>
                                            <h4 class="modal-title">Game Over</h4>
                                            <small>You have no money to continue.</small>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


            <div class="modal inmodal" id="win" tabindex="-1" role="dialog" aria-hidden="true" style="display: {{win}};">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-header">
                                            <i class="fa fa-line-chart modal-icon"></i>
                                            <h4 class="modal-title">Win</h4>
                                            <small>You got the market.</small>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    


    {{else}}

                {{>company_register_form}}

    {{/if}}

</template>