<template name="gameScreen">


        <div class="row m-t-lg" id="world_map" style="margin-top:0px;">
            <div class="col-lg-12">
                    <div id="holder_1000" style="position:relative; width:90%; height:90%">
						<div id="Afghanistan" class="city_hover"><span class="c_label"><strong><strong>Afghanistan: 20</strong></strong><br />2 other</span></div>
						<div id="Azerbaijan" class="city_hover"><span class="c_label"><strong>Azerbaijan: 2</strong><br /></span></div>
						<div id="Bolivia" class="city_hover"><span class="c_label"><strong>Bolivia: 1</strong><br />1 other</span></div>
						<div id="Brazil" class="city_hover"><span class="c_label"><strong>Brazil: 3</strong><br /></span></div>
						<div id="Cameroon" class="city_hover"><span class="c_label"><strong>Cameroon: 1</strong><br /></span></div>
						<div id="Colombia" class="city_hover"><span class="c_label"><strong>Colombia: 1</strong><br /></span></div>
						<div id="DRC" class="city_hover"><span class="c_label"><strong>Democratic Republic of Congo: 2</strong><br />1 other</span></div>
						<div id="DR" class="city_hover"><span class="c_label"><strong>Dominican Republic: 1</strong><br />1 other</span></div>
						<div id="Ecuador" class="city_hover"><span class="c_label"><strong>Ecuador: 1</strong><br /></span></div>
						<div id="Georgia" class="city_hover"><span class="c_label"><strong>Georgia: 1</strong><br /></span></div>
						<div id="Guatemala" class="city_hover"><span class="c_label"><strong>Guatemala: 1</strong><br /></span></div>
						<div id="Indonesia" class="city_hover"><span class="c_label"><strong>Indonesia: 3</strong><br />3 other</span></div>
						<div id="Iraq" class="city_hover"><span class="c_label"><strong>Iraq: 25</strong><br />18 other</span></div>
						<div id="Ivory_Coast" class="city_hover"><span class="c_label"><strong>Ivory Coast: 1</strong><br />1 other</span></div>
						<div id="Kazakhstan" class="city_hover"><span class="c_label"><strong>Kazakhstan: 1</strong><br /></span></div>
						<div id="Kenya" class="city_hover"><span class="c_label"><strong>Kenya: 1</strong><br />1 other</span></div>
						<div id="Kyrgyzstan" class="city_hover"><span class="c_label"><strong>Kyrgyzstan: 1</strong><br /></span></div>
						<div id="Libya" class="city_hover"><span class="c_label"><strong>Libya: 7</strong><br /></span></div>
						<div id="Mexico" class="city_hover"><span class="c_label"><strong>Mexico: 24</strong><br />14 other</span></div>
						<div id="Nepal" class="city_hover"><span class="c_label"><strong>Nepal: 4</strong><br />3 other</span></div>
						<div id="Nigeria" class="city_hover"><span class="c_label"><strong>Nigeria: 3</strong><br /></span></div>
						<div id="Pakistan" class="city_hover"><span class="c_label"><strong>Pakistan: 17</strong><br />6 other</span></div>
						<div id="Philippines" class="city_hover"><span class="c_label"><strong>Philippines: 35</strong><br />32 other</span></div>
						<div id="Russia" class="city_hover"><span class="c_label"><strong>Russia: 5</strong><br />1 other</span></div>
						<div id="Moscow" class="city_hover"><span class="c_label"><strong>Moscow: 40</strong><br />1 other</span></div>
						<div id="Somalia" class="city_hover"><span class="c_label"><strong>Somalia: 11</strong><br />1 other</span></div>
						<div id="Sri_Lanka" class="city_hover"><span class="c_label"><strong>Sri Lanka: 6</strong><br /></span></div>
						<div id="Syria" class="city_hover"><span class="c_label"><strong>Syria: 1</strong><br /></span></div>
						<div id="Tunisia" class="city_hover"><span class="c_label"><strong>Tunisia: 1</strong><br /></span></div>
						<div id="Turkmenistan" class="city_hover"><span class="c_label"><strong>Turkmenistan: 1</strong><br /></span></div>
						<div id="Uganda" class="city_hover"><span class="c_label"><strong>Uganda: 1</strong><br /></span></div>
						<div id="Venezuela" class="city_hover"><span class="c_label"><strong>Venezuela: 1</strong><br />1 other</span></div>
						<div id="Yemen" class="city_hover"><span class="c_label"><strong>Yemen: 5</strong><br /></span></div>
						<div id="Zimbabwe" class="city_hover"><span class="c_label"><strong>Zimbabwe: 2</strong><br />1 other</span></div>
			        

	<!-- 	    <div style="width:300px;">
			        <h3 style="color:white;">Market shares</h3><hr>
                            <h5 style="color:white;">Product #1</h5>
                            <div class="progress progress-mini">
                                <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-success">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>

                            <h5 style="color:white;">Product #2</h5>
                            <div class="progress progress-mini">
                                <div style="width: 43%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar" class="progress-bar">
                                    <span class="sr-only">43% Complete (success)</span>
                                </div>
                            </div>

                            <h5 style="color:white;">Product #3</h5>
                            <div class="progress progress-mini">
                                <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>

                            <h5 style="color:white;">Product #4</h5>
                            <div class="progress progress-mini">
                                <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div> -->
                    </div>
            </div>
        </div>






        <!-- <div style="position:absolute; top:350px; left:30px; width:200px;">
                            <h3 style="color:white;">Market shares</h3><hr>
                            <h5 style="color:white;">Product #1</h5>
                            <div class="progress progress-mini">
                                <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-success">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>

                            <h5 style="color:white;">Product #2</h5>
                            <div class="progress progress-mini">
                                <div style="width: 43%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar" class="progress-bar">
                                    <span class="sr-only">43% Complete (success)</span>
                                </div>
                            </div>

                            <h5 style="color:white;">Product #3</h5>
                            <div class="progress progress-mini">
                                <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>

                            <h5 style="color:white;">Product #4</h5>
                            <div class="progress progress-mini">
                                <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
            </div> -->


</template>
















<template name="stat_row">
	<div class="wrapper wrapper-content" style="padding-bottom:0px; padding-top:10px;">

	<div class="row">


		<div class="col-lg-3">
			<div class="ibox">
				<div class="ibox-content">
					<div class="profile-info"  style="margin-bottom:10px;">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="no-margins">
                                    Telegram
                                </h3>
                                <!-- <h5>Messenger: Telegram</h5>
                                <small>Morality: 48%</small>
								<div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar progress-bar-warning"></div>
                                </div> -->
                            </div>
                           	<div class="col-md-5">
	                            <small>Balance</small>
				                <h2 class="no-margins">$ 10245</h2>
				                <!-- {{> sparkline type="line" array=someArray1 options=options1}} -->
			                </div>
                        </div>
                        <div class="profile-info" style="margin-bottom:20px; margin-top:30px;">
                            <div class="row">
                                <div class="col-md-7">
                                    <h4>
                                        Sphere: <strong>IT</strong>
                                    </h4>
                                    <h4>
                                        Segment: <strong>Messengers</strong>
                                    </h4>
                                </div>
                                <div class="col-md-5">
                                     <small>Time period</small>
                                    <h2 class="no-margins">250</h2>
                                </div>
                            </div>
                            <!-- <div class="row"> -->
                                <!-- <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <small>Market share</small>
                                            <h2 class="no-margins">45%</h2>
                                        </div> -->
                                        <!-- <div class="col-md-8">
                                            {{> sparkline type="line" array=someArray options=options}}
                                        </div> -->
                                    <!-- </div>
                                    <div class="progress progress-mini">
                                        <div style="width: 45%;" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-12">
                                    <small>Time period</small>
                                    <h2 class="no-margins">250</h2>
                                </div>
                            </div> -->
                        </div>
                    </div>

                   <!--  <div class="row">
                    	<div class="col-md-12">
		                    <table class="table small m-b-xs">
		                        <tbody>
		                        <tr>
		                            <td>
		                                <strong>142</strong> Projects
		                            </td>
		                            <td>
		                                <strong>22</strong> Followers
		                            </td>

		                        </tr>
		                        <tr>
		                            <td>
		                                <strong>61</strong> Comments
		                            </td>
		                            <td>
		                                <strong>54</strong> Articles
		                            </td>
		                        </tr>
		                        <tr>
		                            <td>
		                                <strong>154</strong> Tags
		                            </td>
		                            <td>
		                                <strong>32</strong> Friends
		                            </td>
		                        </tr>
		                        </tbody>
		                    </table>
	                    </div>
	                </div> -->
                </div>
            </div>

		</div>



		<div class="col-lg-6">
                <h5 class="text-center">Overall progress</h5>
                <div class="progress progress-striped">
                            <div style="width: 30%" class="progress-bar progress-bar-success">
                                    <span>30% Paid</span>
                                </div>
                                <div style="width: 20%" class="progress-bar progress-bar-warning">
                                    <span>20% Users</span>
                                </div>
                                <div style="width: 50%" class="progress-bar progress-bar-danger">
                                    <span>50% People</span>
                                </div>
                            </div>
    		<!-- <div class="ibox" style="margin-bottom:10px;">
                    <div class="ibox-content inspinia-timeline" style="padding-bottom:0px;">

                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-check"></i>
                                    6:00 am
                                    <br>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="col-xs-9 content no-top-border">
                                    <p class="m-b-xs"><strong>Release Version 1.0.3</strong></p>

                                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
                                        sale.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-usd"></i>
                                    7:00 am
                                    <br>
                                    <small class="text-navy">3 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-newspaper-o"></i>
                                    8:00 am
                                    <br>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                    <p>
                                     Go to shop and find some products.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                    </p>
                                </div>
                            </div>
                        </div> -->


                        <!-- <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-warning"></i>
                                    11:00 am
                                    <br>
                                    <small class="text-navy">21 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                                    <p>
                                    Lorem Ipsum has been the industry's standard dummy text ever since.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-usd"></i>
                                    09:00 pm
                                    <br>
                                    <small>21 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Go to the doctor dr Smith</strong></p>
                                    <p>
                                        Find some issue and go to doctor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-newspaper-o"></i>
                                    11:10 pm
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Chat with Sandra</strong></p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-warning"></i>
                                    12:50 pm
                                    <br>
                                    <small class="text-navy">48 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>
                                    <p>
                                        Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-user"></i>
                                    08:50 pm
                                    <br>
                                    <small class="text-navy">68 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Phone to James</strong></p>
                                    <p>
                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-check"></i>
                                    7:00 am
                                    <br>
                                    <small class="text-navy">3 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Release Version 1.0.1</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                </div>
                            </div>
                        </div> -->


                    <!-- </div>
                </div> -->




            </div>



            <div class="col-lg-3">
            	<div class="ibox">
					<div class="ibox-content">
                        <h3>Market shares</h3>
                            <h5>Telegramm</h5>
                            <div class="progress progress-mini">
                                <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-success">
                                    <span class="sr-only">30% Complete (success)</span>
                                </div>
                            </div>

                            <h5>Product #1</h5>
                            <div class="progress progress-mini">
                                <div style="width: 43%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar" class="progress-bar">
                                    <span class="sr-only">43% Complete (success)</span>
                                </div>
                            </div>

                            <h5>Product #2</h5>
                            <div class="progress progress-mini">
                                <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                                    <span class="sr-only">50% Complete (success)</span>
                                </div>
                            </div>

                            <h5>Product #3</h5>
                            <div class="progress progress-mini">
                                <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">75% Complete (success)</span>
                                </div>
                            </div>
						<!-- <div class="profile-info" style="margin-bottom:20px;">
	                        <div class="row">
	                            <div class="col-md-4">
		                            <h4>
	                                    Sphere: <strong>IT</strong>
	                                </h4>
	                            </div>
	                            <div class="col-md-8">
	                           		<h4>
	                                    Segment: <strong>Messengers</strong>
	                                </h4>
				                </div>
				            </div>
				            <div class="row">
				            	<div class="col-md-10">
				            		<div class="row">
				            			<div class="col-md-4">
	                                		<small>Market share</small>
	                                		<h2 class="no-margins">45%</h2>
	                                	</div>
	                                	<div class="col-md-8">
	                                		{{> sparkline type="line" array=someArray options=options}}
	                                	</div>
	                                </div>
									<div class="progress progress-mini">
	                                    <div style="width: 45%;" class="progress-bar progress-bar-success"></div>
	                                </div>
	                            </div>
	                           	<div class="col-md-2">
		                            <small>Time period</small>
					                <h2 class="no-margins">250</h2>
				                </div>
	                        </div>
	                    </div> -->

	                    <!-- <div class="row">
	                    	<div class="col-md-12">
			                    <table class="table small m-b-xs">
			                        <tbody>
			                        <tr>
			                            <td>
			                                <div class="stat-percent font-bold text-danger">12% <i class="fa fa-level-down"></i></div><strong>Demand</strong>
			                            </td>
			                            <td>
			                                <strong>Trend</strong> <span class="label label-info" style="float:right">Social</span>
			                            </td>
			                        </tr>
			                        <tr>
			                            <td>
			                                <div class="stat-percent font-bold text-danger">25% <i class="fa fa-level-down"></i></div><strong>Market</strong>
			                            </td>
			                            <td>
			                                <strong>Invest climate</strong> <span class="label label-danger" style="float:right">Low</span>
			                            </td>
			                        </tr>
			                        </tbody>
			                    </table>
		                    </div>
		                </div> -->
	                </div>
	            </div>

            </div>
        </div>




<!--         <div class="row"> -->

        	<!-- <div class="col-lg-3">
        		<div class="row">
            		<div class="col-md-12">
            			<a href="{{pathFor route='startup'}}" class="btn btn-block btn-primary m-t" id="startup">STARTUP</a>
            		</div>
            	</div>
        	</div> -->


        	<!-- <div class="col-lg-6 col-lg-offset-3">
        		<h5 class="text-center">Overall progress</h5>
                <div class="progress progress-striped">
							<div style="width: 30%" class="progress-bar progress-bar-success">
                                    <span>30% Paid</span>
                                </div>
                                <div style="width: 20%" class="progress-bar progress-bar-warning">
                                    <span>20% Users</span>
                                </div>
                                <div style="width: 50%" class="progress-bar progress-bar-danger">
                                    <span>50% People</span>
                                </div>
                            </div>
        	</div> -->


            <!-- <div class="col-lg-3">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{pathFor route='world'}}" class="btn btn-block btn-success m-t" id="world">WORLD</a>
                    </div>
                </div>
            </div> -->


        <!-- </div> -->

    </div>
</template>