<template name="test_product_positions">


{{> pageHeading title='Product positions'}}





<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                            <div>
                              <img class="profile-user-img img-responsive" src="http://placehold.it/400x200" alt="...">
                            </div>
                        <div class="ibox-content product-box">
                            
                            <div class="product-desc">
                                <span class="product-price pull-right">
                                    $10
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> Product</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



</template>