<template name="test_sidebar">
  <aside class="main-sidebar">
    <!-- Inner sidebar -->
    <!-- <section class="sidebar" style="height: auto;"> -->
    <!-- <section class="sidebar"> -->
    <div class="sidebar" id="scrollspy">

      <!-- user panel (Optional) -->
      <div class="user-panel">
<!--         {{>loginButtons}}
 -->      </div><!-- /.user-panel -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/test"><span>Dashboard</span></a></li>
        <li><a href="/test_companies"><span>Companies</span></a></li>
        <li><a href="/test_products"><span>Products</span></a></li>
        <li><a href="/test_product_positions"><span>Product positions</span></a></li>
        <li><a href="/test_orders"><span>Orders</span></a></li>
        <li><a href="/test_technologies"><span>Technologies</span></a></li>
        <li><a href="/test_resources"><span>Resources</span></a></li>
        <li><a href="/test_inproductions"><span>inProduction</span></a></li>
        <li><a href="/test_instorehouses"><span>inStorehouse</span></a></li>
        <li><a href="/test_insales"><span>inSales</span></a></li>
      </ul><!-- /.sidebar-menu -->

    </div>
   <!--  </section> --><!-- /.sidebar -->
  </aside><!-- /.main-sidebar -->
</template>