<template name="test_product">


<div class="wrapper"> 

<!-- {{>test_header}} -->



  <header class="main-header">
  <a href="/test" class="logo">
    <!-- LOGO -->
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>F</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>FLow</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </nav>
</header>



{{>test_sidebar}}


<div class="content-wrapper" style="min-height: 901px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Product
          </h1>

          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Product</li>
            <li class="active">Nut 16+/526596/524.4556</li>
          </ol>
          </section>

          <section class="content">
          <div class="row">



           <div class="col-md-3 col-sm-12">

            <div class="box box-primary">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive" src="House_Stark.png" alt="User profile picture">
                  <h2 class="profile-username text-center">Nut 16+/526596/524.4556</h2>
                  <p class="text-muted text-center">Zippin</p>

                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Followers</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                      <b>Following</b> <a class="pull-right">543</a>
                    </li>
                  </ul>

                  <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
              </div>


            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Main info</h3>
              </div>
                

              <div class="box-body">

                <table class="table table-condensed">
                      <tbody>
                      <tr>
                        <td>Sphere</td>
                        <td>
                          Industrial
                        </td>
                      </tr>
                      <tr>
                        <td>Segment</td>
                        <td>
                          Equipment
                        </td>
                      </tr>
                      <tr>
                        <td>Creator</td>
                        <td>
                          <img src="http://placehold.it/20x20" alt="..."> Zippin
                        </td>
                      </tr>
                      <tr>
                        <td>Quality</td>
                        <td>
                          3
                        </td>
                      </tr>
                      <tr>
                        <td>Stock</td>
                        <td>
                          1000000
                        </td>
                      </tr>
                      <tr>
                        <td>Usefull period</td>
                        <td>
                          12
                        </td>
                      </tr>
                      <tr>
                        <td>Used in</td>
                        <td>
                          <strong>Industrial machines</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
     

                  <button type="button" class="btn btn-warning" id="edit_product">Edit</button>
                  <button type="button" class="btn btn-danger" id="edit_product">Delete</button>

                </div>
              </div>
            </div>


          <div class="col-md-9 col-sm-12">

              <div class="box box-solid box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Characteristics</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>Color</dt>
                    <dd>White and gold</dd>
                    <dt>Type</dt>
                    <dd>Party</dd>
                    <dt>Size</dt>
                    <dd>XS</dd>
                    <dt>Description</dt>
                    <dd>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries. Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries. Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</dd>
                  </dl>


                  <table class="table table-condensed">
                    <tbody><tr>
                      <th>#</th>
                      <th>Feature</th>
                      <th>Value</th>
                    </tr>
                    <tr>
                      <td>1.</td>
                      <td>Color:</td>
                      <td>
                        White and gold
                      </td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Type:</td>
                      <td>
                        Party
                      </td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Size:</td>
                      <td>
                        XS
                      </td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>Radius:</td>
                      <td>
                        16 mm
                      </td>
                    </tr>
                    <tr>
                      <td>5.</td>
                      <td>Height:</td>
                      <td>
                        56 mm
                      </td>
                    </tr>
                    <tr>
                      <td>6.</td>
                      <td>Durability:</td>
                      <td>
                        25 h/mm
                      </td>
                    </tr>
                  </tbody>
                </table>


                </div><!-- /.box-body -->



          <div class="box-footer">
            <div class="row">
            <div class="col-md-6 col-sm-12">

            <button type="button" class="btn btn-primary">Publish</button>
            <button type="button" class="btn btn-success">Published</button>
            <button type="button" class="btn btn-warning" id="edit_product">Edit</button>
            <button type="button" class="btn btn-danger" id="edit_product">Delete</button>

            </div>
            </div>
          </div>
          </div>


            <div class="box box-solid box-info" >
                <div class="box-header">
                    <h3 class="box-title">Comments</h3>
                </div>
                <div class="list-group-item">
                    <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
                    <h6 class="quote-author">John Kennedy 12.02.2010</h6>
                </div>
                <div class="list-group-item">
                     <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
                     <h6 class="quote-author">John Kennedy 12.02.2010</h6>
                </div>
                <div class="list-group-item">
                     <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
                     <h6 class="quote-author">John Kennedy 12.02.2010</h6>
                </div>
                <div class="list-group-item">
                     <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
                     <h6 class="quote-author">John Kennedy 12.02.2010</h6>
                </div>
                <div class="list-group-item">
                     <form> 
                        <label>Оставить отзыв</label>
                        <textarea class="form-control" rows="3"></textarea>
                        <input type="button" class="btn btn-default" value="Добавить">
                     </form> 
                </div>
            </div>
            </div>


              </div>
              </section>
           	

            <!-- <div class="col-md-1 visible-md visible-lg"></div> -->
        

      </div>
      </div>

</template>