<template name="test_company_edit">


<div class="wrapper"> 

<!-- {{>test_header}} -->



  <header class="main-header">
  <a href="/test" class="logo">
    <!-- LOGO -->
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>F</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>FLow</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </nav>
</header>



{{>test_sidebar}}


<div class="content-wrapper" style="min-height: 901px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Company
          </h1>

          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Company</li>
          </ol>
          </section>

          <section class="content">
          <div class="row">
          <div class="col-md-12 col-sm-12">

          <div class="box box-primary">
            <form role="form">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    <div class="form-group">
                      <label>Name</label>
                      <input class="form-control" type="text" value="ABC">
                    </div>
                  </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                

            <div class="box-body">

                  




            <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12">


            <button type="submit" class="btn btn-warning" id="edit_product">Submit</button>
            <button type="button" class="btn btn-danger" id="edit_product">Delete</button>

            </div>
            </div>

            </div>
            </form>
            </div>
            

              </div>
              </div>
              </section>
           	

            <!-- <div class="col-md-1 visible-md visible-lg"></div> -->
        

      </div>
      </div>

</template>